[submodule "toolchains/armadeus"]
	path = toolchains/armadeus
	url = https://github.com/pblottiere/armadeus.git
[submodule "toolchains/raspberry"]
	path = toolchains/raspberry
	url = https://github.com/raspberrypi/tools.git
